.home-page {
    margin-left: 80px;
    .text-zone {
        //border: 2px solid orange;
        height: 100vh;

        h1 {
            height: 80px;
            font-size: 60px;
            font-family: 'Coolvetica';
            color: #FF9966;
            font-weight: 400;
            //border: 2px solid white;
            display: flex;
            justify-content: center;
            min-width: 360px;
            margin: 0px;
        }

        .row2 {
            //border: 2px solid green;
            height: calc(100vh - 90px);
            width: auto;
            .characteristic-list {
                float: left;
                margin: auto;
                //border: 2px solid blue;
                width: 15%;
                min-width: 125px;
                margin-left: 3%;
                margin-right: auto;
                h2 {
                    display: flex;
                    justify-content: center;
                    color: #EBEFBF;
                    font-weight: 400;
                    font-size: 20px;
                    font-family: sans-serif;
                    letter-spacing: 3px;
                    animation: fadeIn 1s 1.8s backwards;
                    //border: 2px solid red;
                }
            }

            .image-left {
                float: left;
                //border: 2px solid grey;
                width: 40%;
                height: 100%;
                display: block;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                    max-height: calc(100vh - 90px);
                    display: block;
                    object-fit: contain;
                    position: absolute;
                }
            }
            .image-right {
                float: right;
                //border: 2px solid grey;
                width: 40%;
                height: 100%;
                display: block;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                    max-height: calc(100vh - 90px);
                    display: block;
                    object-fit: contain;
                    position: absolute;
                }
            }
            
        }

    }
}
