.page {
    margin-left: 80px;
    width: 100%;
    height: 100%;
}

.music-chart {
    position: absolute;
    margin-top: 150px;
    width: 100%;
    height: auto;
    opacity: 10%;
    float: left;

    img {
        max-width: 100%;
        max-height: auto;
        display: inline-block;
    }
}

.container {
    opacity: 0;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.about-page, 
.contact-page,
.projects-page,
.blog-page {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    .text-zone {
        height: 100vh;

        h1 {
            height: 80px;
            font-size: 60px;
            font-family: 'Coolvetica';
            color: #FF9966;
            font-weight: 400;
            //border: 2px solid white;
            display: flex;
            justify-content: center;
            min-width: 360px;
            margin: 0px;
        }

        .row2 {
            //border: 2px solid green;
            height: calc(100vh - 90px);
            width: auto;
            .characteristic-list {
                float: left;
                //border: 2px solid blue;
                width: 15%;
                min-width: 125px;
                h2 {
                    display: flex;
                    justify-content: center;
                    color: #EBEFBF;
                    font-weight: 400;
                    font-size: 20px;
                    font-family: sans-serif;
                    letter-spacing: 3px;
                    animation: fadeIn 1s 1.8s backwards;
                    //border: 2px solid red;
                }
            }

            .image-left {
                float: left;
                //border: 2px solid grey;
                width: 40%;
                height: 100%;
                display: block;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                    max-height: calc(100vh - 90px);
                    display: block;
                    object-fit: contain;
                    position: absolute;
                }
            }
            .image-right {
                float: left;
                //border: 2px solid grey;
                width: 40%;
                height: 100%;
                display: block;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                    max-height: calc(100vh - 90px);
                    display: block;
                    object-fit: contain;
                    position: absolute;
                }
            }
            
        }

        p {
            font-size: 13px;
            color: #fffcff;
            font-family: sans-serif;
            font-weight: 300;
            min-width: fit-content;
            //animation: pulse 1s;

            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }

            &:nth-of-type(2) {
                animation-delay: 1.2s;
            }

            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }
            
            &:nth-of-type(4) {
                animation-delay: 1.4s;
            }

            &:nth-of-type(5) {
                animation-delay: 1.5s;
            }
        }
    }

    .text-animate-hover {
        &:hover {
            color: #fffcff;
        }
    }
}